{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Image list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Creationdate</th>
                <th>Publicationdate</th>
                <th>Width</th>
                <th>Height</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.creationDate %}{{ entity.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.publicationDate %}{{ entity.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.width }}</td>
                <td>{{ entity.height }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('image_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('image_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('image_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
